<!doctype html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <title>Hello from WebColors app</title>
    <style>
        body {
            background: {{ bgcolor }};
            color: ivory;
        }

        h1 {
            text-align: center;
            height: 90px;
        }

        th {
            background-color: DimGrey;
        }

        tr {
            background-color: Grey;
        }

        td,
        th {
            text-align: left;
            padding: 0.5em 1em;
        }

        table {
            max-width: 50%;
            width: 100%;
        }

        .center {
            margin-left: auto;
            margin-right: auto;
        }

        .column1 {
            width: 20%;
            min-width: 100px;
        }

        .column2 {
            width: 80%;
            min-width: 400px;
            white-space: pre-wrap;
        }

    </style>
</head>

<body>
    <h1>WebColors {{ params["Version tag"] }} ({{ params["Short commit number"] }})</h1>
    <table class="center">
        <thead>
            <tr>
                <th colspan="2">Parameters</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in params.items() -%}
            <tr>
                <td class="column1">{{ key }}</td>
                <td class="column2">{{ value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
